workflows/telegram-openrouter-chat/workflow.json
{
  "name": "Telegram OpenRouter Chat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "CiiBlWBOsBWv9yGw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input",
              "name": "input",
              "value": "={{ $json.message?.text || '' }}",
              "type": "string"
            },
            {
              "id": "chatId",
              "name": "chatId",
              "value": "={{ $json.message?.chat?.id }}",
              "type": "string"
            },
            {
              "id": "userId",
              "name": "userId",
              "value": "={{ $json.message?.from?.id }}",
              "type": "string"
            },
            {
              "id": "messageId",
              "name": "messageId",
              "value": "={{ $json.message?.message_id }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ 'telegram:' + $json.message?.chat?.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "name": "Normalize Telegram Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ],
      "id": "normalize-telegram-message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json.input }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        300
      ],
      "id": "is-text-message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ignored",
              "name": "ignored",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "unsupported non-text telegram message",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Ignore Non-Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        480
      ],
      "id": "ignore-non-text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "You are a helpful assistant chatting with the user through Telegram. Always reply in the same language the user wrote in. Keep answers concise unless the user asks for detail."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1040,
        220
      ],
      "id": "ai-agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        920,
        520
      ],
      "id": "openrouter-chat-model",
      "credentials": {
        "openRouterApi": {
          "id": "r9fFwUIm23WiKbGE",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Normalize Telegram Message').item.json.sessionId }}"
      },
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1160,
        520
      ],
      "id": "postgres-chat-memory",
      "credentials": {
        "postgres": {
          "id": "dUNmqLlEPiY66wXr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram Message').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Normalize Telegram Message').item.json.messageId }}"
        }
      },
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        220
      ],
      "id": "send-telegram-reply",
      "credentials": {
        "telegramApi": {
          "id": "CiiBlWBOsBWv9yGw",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Message": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
